<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foro personalizado</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <h1>Foro personalizado</h1>
        <nav>
            <ul>
                <li><a href="/create">Crear publicacion</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Lista de Publicaciones</h2>
        <div class="cont-public">
            <% posts.forEach(post => { %>
            <div class="cards">
                <div class="data">
                    <h2><%= post.title %></h2>
                    <p><%= new Date(post.createdAt).toLocaleDateString('es-AR', {
                        day: 'numeric',
                        month: 'numeric',
                        year: 'numeric',
                      }) %></p>
                </div>
                <div class="info">
                    <p><%= post.content %></p>
                    <% if (post.imageUrl) { %>
                    <img src="<%= post.imageUrl %>" alt="Imagen relacionada">
                    <% } %>
                </div>
                

                <form action="/update/<%= post.id %>" method="GET">
                    <button type="submit" class="btn-update">Actualizar</button>
                </form>

                <form action="/delete" method="POST">
                    <input type="hidden" name="postId" value="<%= post.id %>">
                    <button type="submit" class="btn-delete">Eliminar</button>
                </form>
            </div>
            <% }) %>
        </div>
    </main>

</body>

</html>